@*<script src="~/Scripts/jquery.easyui.min.js"></script>*@
@using ZXL.WeiXinWeb;
@using ZXL.Common;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Main.cshtml";
}
<table id="List">
</table>
<script type="text/javascript">

    $('#List').datagrid({
        url: 'SysSample/GetList',
        width: $(window).width() - 10,
        heigth: $(window).height() - 35,
        methord: 'post',
        fitColumns: true,
        sortName: 'Id',
        sortOrder: 'desc',
        idField: 'Id',
        striped: true,//奇偶行是否区分
        singleSelect: true,//单选模式
        rownumbers: true, //行号
        columns: [[
            { field: 'Id', title: 'ID', width: 80 },
            { field: 'Name', title: '名称', width: 120 },
            { field: 'Age', title: '年龄', width: 80, align: 'right' },
            { field: 'Bir', title: '生日', width: 80, align: 'right' },
            { field: 'Photo', title: '照片', width: 250 },
            { field: 'Note', title: '说明', width: 60, align: 'center' },
            { field: 'CreateTime', title: '创建时间', width: 60, align: 'center' }
        ]]
    });

</script>
