<?xml version="1.0" encoding="utf-8" ?>
<!--使用说明：http://blog.163.com/lyz_sea/blog/static/115586707201110161145022/-->
<configuration>
    <configSections>
        <!--section处理器处理log4ne-->
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    </configSections>
    <!--debug="true"-->
    <log4net>        
        <!--<root>
            <level value="INFO" />
            <appender-ref ref="InfoAppender" />
   
        </root>-->


        <!--log4net.LogManager.GetLogger("logerror")用这个来选择这种类型-->

        <!-- 错误日志类-->
        <logger name="logerror">
            <level value="ALL" />
            <appender-ref ref="ErrorAppender" />
        </logger>
        <!-- 信息日志类 -->
        <logger name="loginfo">
            <level value="ALL" />
            <appender-ref ref="InfoAppender" />
        </logger>
        <!-- 错误日志附加介质-->
        <!-- name属性指定其名称,type则是log4net.Appender命名空间的一个类的名称,意思是,指定使用哪种介质-->
        <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
            <!-- 输出到什么目录-->
            <param name="File" value="Log\\LogError.html" />
            <!-- 是否覆写到文件中-->
            <param name="AppendToFile" value="true" />
            <!-- 备份文件的个数-->
            <param name="MaxSizeRollBackups" value="10" />
            <!-- 单个日志文件最大的大小-->
            <param name="MaxFileSize" value="2097152" />
            <!-- 是否使用静态文件名-->
            <param name="StaticLogFileName" value="true" />
            <!-- 日志文件名-->
            <param name="DatePattern" value="yyyyMMdd&quot;.htm&quot;" />
            <param name="RollingStyle" value="Size" />
            <!--布局-->
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="&lt;HR COLOR=red&gt;%n异常时间：%d [%t] &lt;BR&gt;%n异常级别：%-5p &lt;BR&gt;%n异 常 类：%c [%x] &lt;BR&gt;%n内....容：%m &lt;BR&gt;%n &lt;HR Size=1&gt;"  />
            </layout>
        </appender>
        <!-- 信息日志附加介质-->
        <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
            <!--文件路径，如果RollingStyle为Composite或Date，则这里设置为目录，文件名在DatePattern里设置，其他则这里要有文件名。已经扩展支持虚拟目录-->
            <param name="File" value="Log\\LogInfo.html" />
            <!--True/false，默认为true。当文件存在时，是否在原文件上追加内容。-->
            <param name="AppendToFile" value="true" />
            <!--当RollingStyle为Composite或Size，这里设置最大文件大小（可以KB，MB，GB为单位，默认为字节）-->
            <param name="MaxFileSize" value="2097152" />
            <!--备份日志数目，默认为0。在CountDirection为负数时有效-->
            <param name="MaxSizeRollBackups" value="10" />
            <!--True/false，默认为true。为true时，RollingStyler的date值将无效。且为true时，需要在file里指定文件名，所有日志都会记录在这个文件里。-->
            <param name="StaticLogFileName" value="true" />
            <!--当RollingStyle为Composite或Date，这里设置文件名格式-->
            <!--<param name="DatePattern" value="日志文件&quot;.txt&quot;" />-->
            <!--创建新文件的方式，可选为Size（按文件大小），Date（按日期），Once（每启动一次创建一个文件），Composite（按日期及文件大小），默认为Composite-->
            <param name="RollingStyle" value="Size" />
            <!--默认值为-1。当文件超过MaximumFileSize的大小时，如果要创建新的文件来存储日志，会根据CountDirection的值来重命名文件。大于-1的值时，file里指定的文件名会依次加上.0,.1,.2递增。当等于或小于-1时，创建依赖于MaxSizeRollBackups参数值，创建备份日志数。-->
            <!--<param name="CountDirection" value="-1" />-->

            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="&lt;HR COLOR=blue&gt;%n日志时间：%d [%t] &lt;BR&gt;%n日志级别：%-5p &lt;BR&gt;%n日 志 类：%c [%x] &lt;BR&gt;%n内....容：%m &lt;BR&gt;%n &lt;HR Size=1&gt;"  />
            </layout>
        </appender>
        
        
    </log4net>
</configuration>